.header {
	display: flex;
	align-items: center;
	height: 50px;
	background: #c1e1f8;
	padding: 0 1rem;
	gap: 0.5rem;
	& img {
		height: 90%;
	}
	& a {
		text-decoration: none;
		color: inherit;
		font-weight: bold;
		height: 100%;
		padding: 0 0.5rem;
		display: flex;
		align-items: center;
		user-select: none;
		&:hover{
			color: #1163b3;
		}
	}
}

.cart-icon {
	position: relative;
	font-size: 20px;
	margin-left: auto;
}
.cart-icon[count]::after{
	content: attr(count);
	position: absolute;
	font-family: monospace;
	color: white;
	background: red;
	border-radius: 50%;
	width: 14.5px;
	height: 14px;
	font-size: 13px;
	line-height: 14px;
	text-align: center;
	top: 50%;
	left: 50%;
}


.products-page {
	display: flex;
	position: relative;
	height: calc(100dvh - 50px);
	& .scrollable {
		width: 100%;
		height: 100%;
		overflow-y: auto;
		position: relative;
	}
}
.filters-icon { display: none; }
.filters-icon.active div{
	position: relative;
	&::after {
		content: '';
		width: 12px;
		height: 12px;
		background: red;
		border-radius: 50%;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(20%, -20%);
	}
}
.filters-menu {
	min-width: 300px;
	background: #f2f2f2;
	z-index: 1;
	transition: 0.5s;
	font-size: 1.25rem;
	& .close {
		color: red;
		padding: 0.5rem;
		display: none;
		position: absolute;
		z-index: 2;
		top: 0; right: 0;
	}
	& .scrollable {
		overflow-y: auto;
		overflow-y: auto;
		scrollbar-width: thin;
	}
}
@media (max-width:800px){
	.products-page{
		flex-direction: column;
	}
	.filters-icon {
		display: flex;
		justify-content: center;
		padding-top: 0.5rem;
	}
	.filters-menu {
		position: absolute;
		inset: 0;
		transform: translateX(-100%);
		&.open {
			transform: translateX(0);
		}
		& .close { display: block; }
	}
}

.products-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-rows: min-content;
	gap: 1rem;
	padding: 1rem;
	font-size: 1.125rem;
}
@media (max-width:600px){
	.products-list {
		font-size: 0.9rem;
		padding: 0.5rem;
		gap: 0.5rem;
		grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
	}
}

.products-list .product-item {
	text-decoration: none;
	color: inherit;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	text-align: center;
	display: grid;
	grid-template-rows: 12em auto;
	transition: 0.2s;
	user-select: none;
	&:hover{
		transform: translateY(-5px);
	}
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	& .info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.5em;
		padding: 0.75em;

		& .name {
			font-size: 1em;
		}
		& .price {
			font-size: 0.9em;
			font-weight: bold;
			color: #00bc23;
		}
	}
}


.filter {
	padding: 0.5em;
	border-bottom: 1px solid;
	user-select: none;
	&:last-child{
		border-bottom: 0;
	}
	& summary {
		cursor: pointer;
	}
	& .content {
		display: flex;
		flex-direction: column;
		gap: 0.25em;
		padding: 0.5em 0;
		& label {
			display: flex;
			gap: 0.25em;
			width: fit-content;
			cursor: cell;
			& input[type="checkbox"]{
				zoom: 1.1;
				cursor: cell;
			}
		}
	}
}
.filter.active summary span{
	display: inline-flex;
	align-items: center;
	gap: 5px;
	&::after{
		content: '';
		background: red;
		width: 10px;
		height: 10px;
		border-radius: 50%;
	}
}


.product-page-wrapper {
	display: flex;
	justify-content: center;
	overflow-x: hidden;
}
.product-page {
	display: flex;
	padding: 1rem;
	padding-top: 2rem;
	gap: 1rem;
	font-size: 1.1rem;
	& .image {
		border-radius: 12px;
		overflow: hidden;
		width: 400px;
		max-width: 95dvw;
		height: 100%;
		min-height: 150px;
		max-height: 300px;
		display: flex;
		cursor: zoom-in;
	}
	& .image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	& .info {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 1em;
		& .name {
			font-size: 1.25em;
			font-weight: bold;
		}
		& .price {
			color: #00bc23;
			font-weight: bold;
		}
		& table tr td:first-child {
			color: grey;
		}
	}
	& .modal img {
		height: 100%;
		width: 100%;
		object-fit: contain;
		margin: auto;
	}
}
@media (max-width:600px){
	.product-page {
		font-size: 1rem;
		padding-top: 1rem;
		flex-direction: column;
		align-items: center;
		text-align: center;
		& .info {
			align-items: center;
		}
		& .info table {
			width: 100%;
		}
	}
}


.cart-page {
	text-align: center;
	height: calc(100dvh - 50px);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cart-items {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	max-width: 550px;
	margin: 0 auto;
	padding: 0.5em 0.25em;
	overflow-y: auto;
	scrollbar-width: thin;
	height: 100%;
	& .item {
		flex-shrink: 0;
		display: grid;
		grid-template-columns: 100px 1fr 0.5fr 1.75em;
		padding: 0 5px;
		align-items: center;
		justify-content: center;
		height: 100px;
		gap: 1em;
		background: #c1e1f8;
		border-radius: 8px;
		& img {
			height: 90%;
			width: 100%;
			object-fit: cover;
			border-radius: 6px;
			overflow: hidden;
		}
		& .info {
			display: flex;
			flex-direction: column;
			gap: 0.5em;
			& .name {
				font-weight: bold;
				font-size: 1.1em;
			}
			& .price { color: #00bc23; }
		}
		& .total-info {
			display: flex;
			flex-direction: column;
			gap: 0.25em;
			& .price {
				color: red;
				font-weight: bold;
			}
			& .amount { font-size: 0.9em; }
		}
		& .delete {
			color: red;
			cursor: pointer;
			opacity: 0.5;
			transition: 0.15s;
			&:hover {
				opacity: 1;
			}
		}
	}
}
@media (max-width:600px){
	.cart-items {
		font-size: 0.85rem;
	}
}

.total-price {
	display: flex;
	justify-content: center;
	gap: 0.5em;
	padding: 1em;
	border-top: 1px solid;
	width: 100%;
	font-size: 1.1em;
	font-weight: bold;
	& .price {
		color: red;
	}
}
